<html>
<!-- Head tag -->
<%- partial('_partial/head') %>
<body>
	<div id="site" class="site">
		<div id="sidebar" class="sidebar">
			<%- partial('_partial/sidebar') %>
		</div>
		<div id="content" class="site-content">
			<main id="main" class="site-main" role="main">
				<%- body %>
			</main>
		</div>
		<footer id="colophon" class="site-footer">
			<div class="site-info">
				<span>powered by <a href="https://hexo.io/">Hexo</a>&nbsp;&nbsp; theme by <a href="https://github.com/Troy-Yang/hexo-theme-twentyfifteen-wordpress">Troy</a> &nbsp; inspired by <a href="https://wordpress.org/themes/">wordpress</a></span>
			</div><!-- .site-info -->
		</footer>
	</div>
	<%- partial('_partial/infinite-footer') %>
    <!-- After footer scripts -->
    <%- partial('_partial/after-footer') %>
</body>
</html>